body
{
    color: blue;
    background-color: aliceblue;
    font-family: sans-serif;
}

h1
{
    color:darkred;
}

.table, td, th
{
border: 2px solid gray;
}

.tr1
{
    color: green;
    background-color: yellow;
}