body
{
    color: black;
    background-color: beige;
    font-family: sans-serif;
}

h1
{
    color:black;
}

.table, td, th
{
border: 2px solid white;
}

.tr1
{
    color: green;
    background-color: antiquewhite;
    font-family: fantasy;
    align-content: center;
}