body
{
    color: black;
    background-color: white ;
    font-family: sans-serif;
}

h1
{
    color:black;
}

.table, td, th
{
border: 2px solid lightgrey;
}

.tr1
{
    color: black;
    background-color: antiquewhite;
    font-family: fantasy;
    align-content: center;
}